<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Album Details</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:text="'Album: ' + ${album}"></h1>-->

<!--<p><b>Genre:</b> <span th:text="${album.genre}"></span></p>-->
<!--<p><b>Release Year:</b> <span th:text="${album.releaseYear}"></span></p>-->

<!--<h2>Songs:</h2>-->
<!--<ul>-->
<!--    <li th:each="song : ${songs}">-->
<!--        <span th:text="'Title: ' + ${song.title} + ', Genre: ' + ${song.genre} + ', Year: ' + ${song.releaseYear}"></span>-->
<!--    </li>-->
<!--</ul>-->

<!--<a href="/songs">Back to Songs</a>-->
<!--</body>-->
<!--</html>-->
