<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Sign in</h2>
        <div th:if="${hasError}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>
        <a href="/register" class="btn btn-light btn-block mt-2">Don't have an account? Register here</a>
    </form>
</div>
</body>
</html>
